<br>
<h3>

    <small class="text-muted">List Of Addresses :</small>
  </h3><br>
  

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add address</h4>
      <button class="btn btn-lg btn-outline-primary"  (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    
    <form [formGroup]="addAddressForm" (ngSubmit)="addAddressFormMethod()" >
    
    <div class="modal-footer">
      

          <div class="form-group">
              
            <input  type="text"  class="form-control" id="floatingInput" placeholder="Country" formControlName="country">
          </div>
          
            
          <br>
          <div class="form-group">
            <input  type="text" class="form-control" id="floatingPassword" placeholder="City" formControlName="city">
          
          </div>
          <br>
         
          <div class="form-group">
            <input  type="text" class="form-control" id="floatingPassword" placeholder="Postal Code" formControlName="postalCode">
          
          </div>
          <div class="form-group">
            <input  type="text" class="form-control" id="floatingPassword" placeholder="Type" formControlName="type">
          
          </div>
          <br>
        
         

        
          <button [disabled]="addAddressForm.invalid" class="btn btn-lg btn-outline-primary" type="submit">Save</button>
       
         
          
    </div>
  </form> 
    
      
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add Address</button>
  
  <hr>
  



  <br>
  <br>
  <br>
<div class="row">
<div class="col-md-6" *ngFor="let address of addresses">

    <div class="card text-white bg-primary mb-3">
        <div class="card-header">{{address.type}} Address</div>
        <div class="card-body">
          <h4 class="card-title">{{address.country}}</h4>
          <p class="card-text">This is your city  : {{address.city}}</p>
          <p class="card-text">This is your Postal Code  : {{address.postalCode}}</p>

       
          <button type="button" class="btn btn-light" style="margin-right:2%" (click)="open2(content2,address.addressId)" >Edit</button>
          <button type="button" class="btn btn-dark"  (click)="delete(address.addressId)">Delete</button>


        </div>
       
      </div>
</div>
</div>


<ng-template #content2 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add address</h4>
    <button class="btn btn-lg btn-outline-primary"  (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form [formGroup]="addAddressForm" (ngSubmit)="putAddressById()" >
  
  <div class="modal-footer">
    

        <div class="form-group">
            
          <input  type="text"  class="form-control" id="floatingInput" placeholder="Country" formControlName="country">
        </div>
        
          
        <br>
        <div class="form-group">
          <input  type="text" class="form-control" id="floatingPassword" placeholder="City" formControlName="city">
        
        </div>
        <br>
       
        <div class="form-group">
          <input  type="text" class="form-control" id="floatingPassword" placeholder="Postal Code" formControlName="postalCode">
        
        </div>
        <div class="form-group">
          <input  type="text" class="form-control" id="floatingPassword" placeholder="Type" formControlName="type">
        
        </div>
        <br>
      
       

      
        <button [disabled]="addAddressForm.invalid"  class="btn btn-lg btn-outline-primary" type="submit">Save</button>
     
       
        
  </div>
</form> 
  
    
</ng-template>
